<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/hover.css">
</head>

<body>
    <div class="container">
        <div class="all">
            <div class="head">
                <img src="https://images.pexels.com/photos/2437299/pexels-photo-2437299.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="Image" style="width: 500px;height: auto;">
            </div>
            <div class="content">
                <h1>Tuyết</h1>
                <p>Trong các đám mây với nhiệt độ dưới -10 °C, các phân tử nước tụ hợp lại và hình thành tinh thể đá
                    nhỏ, kích thước ban đầu khoảng 0,1 mm. Các tinh thể này dần tăng trọng lượng và rơi xuống dưới.
                    Sự
                    lắng đọng của hơi nước cũng góp phần vào quá trình hình thành tinh thể tuyết, với dạng tiêu biểu
                    là
                    kiểu hình lục giác. Sự định dạng tinh thể tuyết phụ thuộc vào cấu trúc phân tử nước (góc 60° hay
                    120°) và nhiệt độ không khí. Dưới nhiệt độ thấp, tinh thể tuyết hình lăng trụ được hình thành, ở
                    nhiệt độ cao hơn là hình ngôi sao. Đây là 2 dạng cơ bản, ngoài ra, sự va chạm của chúng còn tạo
                    ra
                    các tinh thể mới (có hơn 6 000 kiểu tinh thể).</p>
            </div>

        </div>
    </div>
</body>

</html>