* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
}
.input {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 500px;
    height: 50px;
}